.BibliographyList {
  display: flex;
  justify-content: space-around;
}
.textareaZone {
  width: 100%;
}
.a:after {
  counter-increment: a;
  content: "[" counter(a) "]";
}
.dialog{
  display: flex;
  justify-content: space-around;
}